<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="DataAccess.Properties.Settings.Cua_Hang_Tra_SuaConnectionString1"
            connectionString="Data Source=DESKTOP-PCHKGH1\SQLEXPRESS;Initial Catalog=Cua_Hang_Tra_Sua;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>