/* ================================
   MASTERPAGE: Giao diện tổng thể
   ================================ */

body {
    background-image: url('../uploads/images/background-content.png');
    background-repeat: no-repeat; /* Không lặp ảnh */
    background-size: 100% auto; /* Chiều ngang 100%, chiều cao tự động */
    background-position: top center; /* Canh giữa ngang, phía trên */
}


/* Các vùng layout chính */
#wrapper {
    width: 100%;
    max-width: 1000px; /* hoặc bất kỳ giá trị bạn muốn */
    min-height: 450px;
    margin: 0 auto; /* Canh giữa ngang */
    box-sizing: border-box;
}


#Banner {
    width: auto;
    height: 100px;
    background-image: url('../uploads/images/background-banner.png');
    background-repeat: no-repeat; /* Không lặp ảnh */
    background-size: cover; /* Ảnh phủ toàn bộ phần tử */
    background-position: center center; /* Canh giữa cả ngang và dọc */
    position: relative;
}

#MainMenu {
    zoom: 100%;
    width: auto;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contents {
    width: 1000px;
    min-height: 300px;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    text-align: center; /* Căn giữa văn bản */
}

#SubMenu {
    width: auto; 
    /*min-width: 0;*/ /* Cho phép co lại về 0 nếu không có nội dung */
    min-height: 300px;
    float: left;
    background-color: #66CCFF;
    overflow: hidden; /* Ẩn nội dung tràn nếu có */
}


#ListBox1 {
    height: 300px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    #ListBox1 option {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

#Content {
    min-height: 300px;
    width: 1000px;
    background-image: url('../uploads/images/background-content.png');
    background-repeat: no-repeat; /* Không lặp ảnh */
    background-size: 100% auto; /* Chiều ngang 100%, chiều dọc tự động */

    display: inline-block; /* Cho phép co lại theo nội dung và tránh chiếm full width */
    max-width: 100%; /* Không vượt quá chiều ngang cha */
    vertical-align: top; /* Căn thẳng hàng nếu có phần tử bên cạnh */
}

#Bottom {
    width: 1000px; /* hoặc giá trị cố định bạn muốn */
    height: auto;
    background-color: #6699ff;
    clear: both;
    margin: 0 auto; /* Canh giữa ngang */
    text-align: center; /* Căn giữa nội dung bên trong */
    padding: 10px 0;
}


