#wrapper {
    width: 1000px;
    min-height: 450px;
    margin: 0px auto;
}

#Banner {
    position: relative; /* Làm gốc tọa độ cho phần tử con */
    width: 1000px;
    height: 100px;
    background-color: lightblue;
}

#MainMenu {
    width: 1000px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Thiết lập nền và khoảng cách cho thanh điều hướng */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* quan trọng */
    justify-content: space-around;
    align-items: center;
}

    nav ul li {
        margin: 0 10px; /* thêm khoảng cách giữa các mục */
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 10px;
            font-weight: bold;
            padding: 8px 12px;
        }


#Contents {
    width: 1000px;
    min-height: 300px;
}

#SubMenu {
    width: 200px;
    height: 100px;
    min-height: 300px;
    float: left;
    background-color: #66CCFF;
}

#ListBox1 {
    height: 300px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    #ListBox1 option {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*#HotNews {
    width: 300px;
    height: 100px;
    background-color: #FFCCFF;
}*/

#Content {
    width: 800px;
    height: 100px;
    min-height: 300px;
    float: left;
    background-color: #ffffff;
}

#Bottom {
    width: 1000px;
    height: 50px;
    background-color: #6699ff;
    clear: both;
}
